<!DOCTYPE html>
    <html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Flask Google Maps Example</title>
            {{"decoupled-map"|googlemap_js(37.4419, -122.1419, varname="decoupledmap", markers=[(37.4419, -122.1419)])}}

            {{trdmap.js}}
            
    </head>
    <body>
  
        
        <h2> 3rd map generated in view</h2>
        <h3> Example for multiple markers with infoboxes</h3>
        <h4>Click in markers to see it in action!</h4>
        <h4>Click in the YELLOW marker to see HTML rendered</h4>
        {{trdmap.html}}

       







    </body>
</html>