/* -- <!-- Assignment 4- Software Engineering. Authors: Cara Delorey, Darragh Minogue, Tao Li-->
-- */

/* General site styling */

body {
width : 100%;
height : 100%;
padding : 0;
background-image : url(../images/db1.jpg);
background-repeat : no-repeat;
background-size : cover;
overflow-x : hidden;
}

header {
margin-bottom : 10px;
}

footer {
color : white;
text-align : left;
font-size: 8pt;
font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

h1 {
color : white;
font-size : 40pt;
margin-top : 0;
letter-spacing : 2px;
text-align : center;
vertical-align : top;
font-family : 'Pacifico', cursive;
}

#container {
padding : 0;
width : 1000px;
position : relative;
margin : auto;
}

#primary {
background-color : rgba(32, 32, 32, 0.7);
width : 900px;
height : 520px;
padding : 10px;
position : relative;
text-align: left;
margin : auto;
margin-bottom : 20px;
}

#map {
display : block;
float : left;
width : 700px;
height : 500px;
overflow : auto;
visibility : visible;
}

#content1 {
display : block;
width : 300px;
height : 400px;
        overflow: hidden;
}

#displayWeather{
width : 200px;
height : 400px;
padding-left: 50px;
display : inline-block;
overflow: hidden;
color: white;
font-family: 'Dosis', sans-serif;
}

#wTemp1 {
  font-size: 70px !important;
    display : inline-block;
}

#wTemp2 {
  font-size: 100px;
    display : inline;
}

#wTemp3 {
  font-size: 60px;
    display : inline;
}
#wIcon {
    font-size: 100px;
    display : inline;
    margin: auto;
}

#wDesc {
  font-size: 30px;
  display : inline-block;   
    overflow: hidden;
   }