<!DOCTYPE html>

<!-- Assignment 4- Software Engineering. Authors: Cara Delorey, Darragh Minogue, Tao Li-->


<!-- Source for Weather display: http://codepen.io/anon/pen/peGWjz-->

<html lang="en">
<head>
    <title>Dublin Bikes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css"/>
    <script language="JavaScript" type="text/javascript" src="../static/js/jquery-3.2.0.min.js"></script>
    // <!-- <script src="../static/js/search.js" type="text/javascript"></script> -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHxpqeoG1jNA4VHBlFeopWuRmFoYTh-ME&callback=initMap1">
    </script>
    <script src="../static/js/weatherInfo.js" type="text/javascript"></script>
    <!-- Adds Weather Icons CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.5/css/weather-icons.min.css">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
   
    </head>
<body>
    <!-- Header Content Area-->
    <div id="container">
    <header>        
    <h1> Dublin Bikes </h1>
    </header>
     <script >
        function initMap1() {     
        var styledMapType = new google.maps.StyledMapType(
         [
    {
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f5f5f5"
      }
    ]
  },
  {
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "on"
      }
    ]
  },
  {
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      }
    ]
  },
  {
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#f5f5f5"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#bdbdbd"
      }
    ]
  },
  {
    "featureType": "administrative.neighborhood",
    "stylers": [
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#eeeeee"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "poi.business",
    "stylers": [
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e5e5e5"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#ffffff"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "stylers": [
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dadada"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      }
    ]
  },
  {
    "featureType": "road.local",
    "stylers": [
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e5e5e5"
      }
    ]
  },
  {
    "featureType": "transit.station",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#eeeeee"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#c9c9c9"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#84b6e3"
      },
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text",
    "stylers": [
      {
        "color": "#0000a0"
      },
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  }
],
            {name: 'Styled Map'})
        
        
        
        var map = new google.maps.Map(document.getElementById('map'), {
          center: new google.maps.LatLng(53.3498053, -6.260309699999993), 
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        
            
            var locations = {{ stations|tojson }};
            console.log(locations)
            var infowindow = null;
            infowindow = new google.maps.InfoWindow({
                content: "holding..."
            });
            var marker, i;
        
            var contentString = '<div id="content">'+
             '<div id="siteNotice">'+'</div>'+
            '<div id="bodyContent">'+
            '<p> ' + 'StationNo.: '+ locations.key1 + '<br>Station: '+ locations.key2 + '<br>Last Update: <b>'+ locations.key3+'<br>Available bikes: <b>' + locations.key7 + '</b><br>' + 'Free Stands: <b>' + locations.key8 + '</b></p>'+
            '</div>'+
            '</div>';
            var totalAvailable = (locations.key7)/(locations.key8);
                var newMarker;
            
                if (totalAvailable == 0){
                    newMarker = '../static/images/markers/icon0.png';
                }
                else if (totalAvailable > 0 && totalAvailable <= 0.1){
                    newMarker = '../static/images/markers/icon1.png';// url
                }
                else if (totalAvailable > 0.1 && totalAvailable <= 0.2){
                    newMarker = '../static/images/markers/icon2.png';// url
                }
                else if (totalAvailable > 0.2 && totalAvailable <= 0.3){
                    newMarker = '../static/images/markers/icon3.png';// url
                }
                else if (totalAvailable > 0.4 && totalAvailable <= 0.5){
                    newMarker = '../static/images/markers/icon4.png';// url
                }
                else if (totalAvailable > 0.5 && totalAvailable <= 0.6){
                    newMarker = '../static/images/markers/icon5.png';// url
                }
                else if (totalAvailable > 0.5 && totalAvailable <= 0.6){
                    newMarker = '../static/images/markers/icon5.png';// url
                    }
                else if (totalAvailable > 0.6 && totalAvailable <= 0.7){
                        newMarker = '../static/images/markers/icon6.png';// url
                    }
                else if (totalAvailable > 0.7 && totalAvailable <= 0.8){
                        newMarker = '../static/images/markers/icon7.png';// url
                    }
                else if (totalAvailable > 0.8 && totalAvailable <= 0.9){
                        newMarker = '../static/images/markers/icon8.png';// url
                    }
                else if (totalAvailable > 0.9 && totalAvailable < 1){
                        newMarker = '../static/images/markers/icon9.png';// url
                    }
                else if (locations.key4 == 'CLOSED'){
                        newMarker = '../static/images/markers/iconOff.png';// url
                    }
                else {
                    newMarker = '../static/images/markers/icon10.png';// url
                }
            
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations.key5, locations.key6),
                map: map,
                info: contentString
          }); 
             
            
            // infowindow.open(map, newMarkers[i]);
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                  // infowindow.setContent(contentString);
                  
                  infowindow.setContent(this.info);
                  infowindow.open(map, this);
                }
              })(marker, i));
        // };
        
        // }); 
        map.mapTypes.set('styled_map', styledMapType);
        map.setMapTypeId('styled_map');
       
        map.data.setStyle({
        strokeOpacity: 0.1,
        fillOpacity: 0.0,
        strokeWeight: 2,
        });
    }
        

     </script>   
    <div id="primary">
        

        <div> <a href="/">Home</a> </div>

        <div class="search">
          <form action="/index1" method=post>
              <input type=text name=search value="{{ request.form.search}}"></br>
              <div class="actions"><input type=submit value="Search"></div>
          </form>
        </div>

    <div id="map"></div>
    <div id="content1">
    <div id="displayWeather">
        <p></p>
        <p id="wTemp1">
        </p>
        <p id="wTemp2">
        </p>
        <p id="wTemp3"> 
        </p>
        <p id="wIcon">  
        </p>
        <p id="wDesc">  
        </p>
        </div>  
        </div>
        </div>

    <!-- Footer Content Area-->
    <footer>
     <p>  JCDecaux.ie © 2017  </p>
    </footer>
            </div>
    
</body> 
</html>